<div class="row">
<div class="col-xs-12">

  <h1><%= @wishlist.title %></h1>
  <%= link_to 'Back', wishlists_path , class: "btn btn-xs btn-default" %>
  <%= link_to 'Edit', edit_wishlist_path(@wishlist) , class: "btn btn-xs btn-default" %> 

  <p class="small">
    <%= @wishlist.description %>
    <%= @wishlist.user.email %>
  </p>

  <hr />
  <div class="list-group">
    <%= render @wishlist.items %>
  </div>

  <div class="well">
    <%= render 'items/form' %>
  </div>
  </div>
</div>