<div class="row">
<div class="col-xs-12">

<h1><%= @wishlist.title %></h1>
 
<p class="small">
  <%= @wishlist.description %>
</p>

<hr />
<ul class="list-group">
  <%= render @wishlist.items %>
</ul>

<h4>Add an item:</h4>
<%= render 'items/form' %>


<%= link_to 'Edit', edit_wishlist_path(@wishlist) %> |
<%= link_to 'Back', wishlists_path %>

</div></div>